

<div class="login-container">
    <div class="login-content">
        <h4><mat-toolbar class="card-header login-toolbar" color="primary">Log In Information</mat-toolbar></h4>
        <div class="mat-card">
            <form [formGroup]="loginForm" #formDirective="ngForm" 
                (ngSubmit)="onSubmit(loginForm)" >
                <mat-form-field class="full-width-input" style="display: inline !important;">
                    <input matInput autofocus type="text" matInput placeholder="Username" formControlName="email" required>
                    <mat-error *ngIf="isFieldInvalid('email')">
                        {{emaiErrors()}}
                      </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width-input" style="display: inline !important;">
                    <input matInput type="password" autocomplete="false" matInput placeholder="Password"  formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Please Enter Password
                      </mat-error>
                </mat-form-field>

                <br>
                
                <button type="submit" class="btn btn-primary">Login</button>

            </form>
      <br>

    </div>
    </div>
</div>



<!-- ---------------------------------------------------- -->

